{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container py-4" style="max-width: 760px;">

    <h1 class="fs-2 text-center mb-4">Tweet Analyser</h1>

    <form action="/" method="get" class="mb-4">
      {% csrf_token %}
      {{ tweet_id_form.non_field_errors }}
      <div>
        {{ tweet_id_form.tweet_id_input.errors }}
        {{ tweet_id_form.tweet_id_input }}
      </div>
    </form>

    {% if tweet_retrieved %}
      {% include "tweet_card.html" %}

      {% include "progress_bar.html" with item_name="Sentiment" item_percent=sentiment %}
      {% include "progress_bar.html" with item_name="Like ratio" item_percent=like_ratio %}

      {% include "boxplot.html" %}
    {% endif %}

  </div>
{% endblock %}
