{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container py-4" style="max-width: 760px;">

    <h1 class="fs-2 text-center mb-4">Tweet Analyser</h1>

    <form action="/" method="get" class="mb-4">
      {% csrf_token %}
      {{ tweet_id_form.non_field_errors }}
      <div>
        {{ tweet_id_form.tweet_id_input.errors }}
        {{ tweet_id_form.tweet_id_input }}
      </div>
    </form>

    {% include "divider.html" %}

    {% if request_made %}
      {% if request_success %}

        {% if single_tweet %}
          {% include "single_tweet.html" %}
        {% else %}
          {% include "multi_tweet.html" %}
        {% endif %}

      {% else %}
        <div class="alert alert-danger" role="alert">
          Failed to retrieve tweets.
        </div>
      {% endif %}
    {% endif %}

  </div>
{% endblock %}
